$icomoon-font-path: "fonts" !default;

$icon-ic-connected: "\e938";
$icon-ic-message-notif: "\e937";
$icon-ic-share-profile: "\e97d";
$icon-ic-user-star: "\e97a";
$icon-ic-member-group: "\e97b";
$icon-ic-jobs: "\e985";
$icon-ic-message: "\e986";
$icon-ic-companies: "\e987";
$icon-ic-dashboard: "\e988";
$icon-ic-advice: "\e989";
$icon-ic-call-back: "\e930";
$icon-ic-draft: "\e931";
$icon-ic-job-search: "\e932";
$icon-ic-clock: "\e933";
$icon-ic-clockforward: "\e934";
$icon-ic-ligthning: "\e935";
$icon-ic-member-search: "\e936";
$icon-ic-wavinghand: "\e92f";
$icon-ic-finger-up: "\e914";
$icon-ic-nomail: "\e92b";
$icon-ic-tc: "\e92c";
$icon-ic-index-in: "\e92d";
$icon-ic-index-out: "\e92e";
$icon-ic-mobile: "\e92a";
$icon-ic-availability: "\e929";
$icon-ic-status: "\e91f";
$icon-ic-removeteam: "\e91e";
$icon-ic-inviteteam: "\e91c";
$icon-ic-permissions: "\e91d";
$icon-ic-fa-hosco: "\e91b";
$icon-ic-burger: "\e913";
$icon-ic-round-fb: "\e915";
$icon-ic-round-hosco: "\e916";
$icon-ic-round-insta: "\e917";
$icon-ic-round-linkd: "\e918";
$icon-ic-round-twtt: "\e919";
$icon-ic-round-yt: "\e91a";
$icon-ic-spj: "\e912";
$icon-ic-laurea: "\e922";
$icon-ic-targeted: "\e910";
$icon-ic-premiumlight: "\e911";
$icon-ic-premium: "\e920";
$icon-ic-premiumplus: "\e921";
$icon-ic-thumbsup: "\e923";
$icon-ic-handshake: "\e924";
$icon-ic-love-thanks: "\e925";
$icon-ic-hand-stop: "\e926";
$icon-ic-neck-tie: "\e927";
$icon-ic-who: "\e928";
$icon-ic-jobalert-modal: "\e90e";
$icon-ic-update: "\e90f";
$icon-ic-hosco-shine: "\e90c";
$icon-ic-rocket2: "\e90d";
$icon-ic-erase: "\e907";
$icon-ic-jobapp-rejected: "\e908";
$icon-ic-jobapp-sent: "\e909";
$icon-ic-jobapp: "\e90a";
$icon-ic-remove: "\e90b";
$icon-hoscicons_story: "\e900";
$icon-hoscicons_cross: "\e901";
$icon-hoscicons_heartbroken: "\e902";
$icon-hoscicons_messagesent: "\e903";
$icon-hoscicons_nationality: "\e904";
$icon-hoscicons_review: "\e905";
$icon-hoscicons_login: "\e906";

